// Couleurs principales

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$green: #008766;
$black: black;
$white: white;
$grey:  #EAEAEA;
$grey-dark: #353535;
$grey-icon:#7E7E7E;
$background: #F6F6F6;
$button-gradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)


