// _ pour dire que c'est un module et qu'il ne faut pas le compiler en css
@import "_variables";
@import "_mixins";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 375px;
    
}

header {
    @include display-flex-center;

    h1 {
        color: $black;
        background: $white;
        font-family: "Shrikhand", cursive;
        font-size: 30px;
        width: 162px;
        padding: 14px 89px 13px 89px;
    }
}

.location {
    @include display-flex-center;
}
