// underscore pour dire que c'est un module et qu'il ne faut pas le compiler en css
@import "_variables";
@import "_mixins";

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto flex", sans-serif;
}

body {
    width: 375px;
}

header {
    @include display-flex-center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    h1 {
        color: $black;
        background: $white;
        font-family: "Shrikhand", cursive;
        font-size: 30px;
        width: 162px;
        padding: 14px 89px 13px 89px;
    }
}

.location {
    @include display-flex-center;
    background-color: $grey;
    color: $grey-dark;
    height: 50px;
    font-weight: 600;
    padding: 0 0 0.5px 0;
}

main {
    background: $background;
}

.discover {
    @include column-center;
    padding-top: 30px;

    ._discover-h4 {
        @include display-flex-center;
        height: 68px;
        width: 70%;
        text-align: center;
        font-size: 24px;
    }
    ._discover-p {
        font-size: 18px;
        text-align: center;
        width: 85%;
        height: 46px;
        color: $grey-dark;
        padding-top: 8px;
    }

    ._discover-btn {
        @include column-center;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        background: $button-gradient;
        color: $white;
        margin: 27px 0 60px 0;
    }
}

.fonctionnement {
    @include column-center;
    background: $white;
    gap: 25px;
    padding: 48px 0 30px 0;

    ._fonctionnement-p {
        font-size: 24px;
        font-weight: 700;
        width: 355px;
        padding-left: 20px;
        padding-bottom: 25px;
    }

    ._fonctionnement-box {
        background: $background;
        width: 322.5px;
        height: 72px;
        border-radius: 20px;
        text-align: center;
        @include display-flex-center;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        gap: 15px;
    }

    ._fonctionnement-absolute {
        background: $primaire;
        color: $white;
        position: absolute;
        border-radius: 500px;
        transform: translateX(-650%);
        padding: 3px 8px 3px 8px;
    }

    ._box-p {
        font-weight: 600;
        width: 211px;
    }
}
// mettre des h2 aux autres titres avec les bonnes propriétés
.restaurants {
    display: grid;
    justify-content: center;
    gap: 18px;
    padding-bottom: 50px;

    ._restaurants-titre {
        width: 70%;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    ._restaurants-card {
        display: grid;
        justify-content: space-around;
        background: $white;
        border-radius: 15px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
    ._restaurants-img {
        height: 190px;
        width: 346px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    ._restaurants-txt {
        height: 64px;
    }
    ._restaurants-txt h6 {
        font-size: 18px;
        height: 20px;
        width: 267px;
        padding-left: 13px;
        padding-top: 12px;
    }

    ._restaurants-txt p {
        font-size: 17px;
        height: 24px;
        font-weight: 300;
        padding-left: 13px;
        padding-top: 3px;
    }

    ._restaurants-heart {
        width: 16px;
        position: relative;
        top: -33px;
        left: 303px;
    }
}

footer {
    background: $grey-dark;
    display: flex;
    flex-direction: column;
    padding: 22px 25px 22px 25px;

    // icones trop grandes
    i {
        padding-right: 5px;
    }
    ._footer-logo {
        color: $white;
        font-family: "Shrikhand", cursive;
        height: 27px;
        width: 139px;
        font-weight: 100;
        padding-bottom: 16px;
    }

    ._footer-links {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    a {
        text-decoration: none;
        color: $white;
    }
}

// checker la police d'écriture
// repérer les doublons et appliquer le DRY avec mixins/variables
