* {
  margin: 0;
  padding: 0;
  font-family: "Roboto flex", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header h1 {
  color: black;
  background: white;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  width: 162px;
  padding: 14px 89px 13px 89px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  color: #353535;
  height: 50px;
  font-weight: 600;
  padding: 0 0 0.5px 0;
}

main {
  background: #F6F6F6;
}

@media screen and (min-width: 1024px) {
  ._main-restaurants {
    background: white;
  }
}
.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.discover ._discover-h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 70%;
  text-align: center;
  font-size: 24px;
}
.discover ._discover-p {
  font-size: 18px;
  text-align: center;
  width: 85%;
  height: 46px;
  color: #353535;
  padding-top: 8px;
}
.discover ._discover-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  margin: 27px 0 60px 0;
  opacity: 1;
  transition: 0.2s;
}
.discover ._discover-btn:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  gap: 25px;
  padding: 48px 0 30px 0;
}
.fonctionnement ._container-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.fonctionnement ._fonctionnement-p {
  font-size: 24px;
  font-weight: 700;
  width: 90%;
  padding-bottom: 25px;
}
.fonctionnement ._fonctionnement-box {
  background: #F6F6F6;
  width: 322.5px;
  height: 72px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  gap: 15px;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.fonctionnement ._fonctionnement-box:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}
.fonctionnement ._fonctionnement-absolute {
  background: #9356DC;
  color: white;
  position: absolute;
  border-radius: 500px;
  transform: translateX(-650%);
  padding: 3px 8px 3px 8px;
}
.fonctionnement ._box-p {
  font-weight: 600;
  width: 211px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement ._fonctionnement-p {
    width: 70%;
  }
  .fonctionnement ._container-fonctionnement {
    flex-direction: row;
    margin-bottom: 20px;
    width: 95%;
    gap: 45px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.restaurants ._restaurants-titre-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 20px;
}
.restaurants ._restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.restaurants a {
  text-decoration: none;
}
.restaurants .badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  text-decoration: none;
  background: #99E2D0;
  position: relative;
  bottom: -50px;
  right: -266px;
}
@media screen and (min-width: 1024px) {
  .restaurants .badge {
    right: -400px;
  }
}
.restaurants .badge p {
  color: #008766;
  font-weight: bold;
}
.restaurants ._restaurants-card {
  display: grid;
  justify-content: space-around;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurants ._restaurants-card:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}
.restaurants ._restaurants-img {
  height: 190px;
  width: 346px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants ._restaurants-txt {
  height: 64px;
  color: black;
}
.restaurants ._restaurants-txt h6 {
  font-size: 18px;
  height: 20px;
  width: 267px;
  padding-left: 13px;
  padding-top: 12px;
}
.restaurants ._restaurants-txt p {
  font-size: 17px;
  height: 24px;
  font-weight: 300;
  padding-left: 13px;
  padding-top: 3px;
}
.restaurants ._restaurants-heart {
  width: 16px;
  position: relative;
  top: -33px;
  left: 303px;
}
@media (min-width: 1024px) {
  .restaurants ._restaurants-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    width: 80%;
  }
  .restaurants ._restaurants-titre-accueil {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .restaurants ._restaurants-card {
    width: 480px;
  }
  .restaurants ._restaurants-img {
    width: 480px;
  }
  .restaurants ._restaurants-heart {
    left: 425px;
  }
}

footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 0 22px 0;
}
footer i {
  padding-right: 5px;
}
footer ._container-footer {
  width: 90%;
}
footer ._footer-logo {
  color: white;
  font-family: "Shrikhand", cursive;
  height: 27px;
  width: 139px;
  font-weight: 100;
  padding-bottom: 16px;
}
footer ._footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer a {
  text-decoration: none;
  color: white;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding: 50px 0 0 0;
  }
  footer ._container-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 105px;
  }
  footer ._footer-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  footer ._link-partenaire {
    padding-right: 50px;
  }
}

@media screen and (min-width: 1024px) {
  ._restaurants-header {
    justify-content: flex-start;
    gap: 589.5px;
  }
}
._restaurants-header h1 {
  padding: 14px 89px 13px 42px;
}

._header-icone {
  color: #353535;
  width: 30px;
  padding-left: 17px;
}

._restaurants-entete img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  ._restaurants-entete img {
    height: 345px;
  }
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  position: relative;
  top: -34px;
  background: #F6F6F6;
  border-radius: 25px 25px 0 0;
}

@media screen and (min-width: 1024px) {
  .menus {
    width: 60%;
    right: -315px;
    padding-bottom: 165px;
  }
}
._restaurants-titres {
  padding: 16px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 80%;
}
._restaurants-titres p {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}

.plats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
.plats-container ._plats-titre {
  font-weight: 100;
  height: 27px;
  width: 90%;
}
.plats-container ._plats-border {
  width: 40px;
  border-bottom: solid;
  border-color: #99E2D0;
}
.plats-container article {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 80%;
  height: 40px;
  padding: 20px;
  gap: 5px;
  background: white;
  box-shadow: 0 4.01149px 15.0431px 0 rgba(0, 0, 0, 0.1);
}
.plats-container ._article-titre {
  height: 21px;
  font-size: 18px;
  font-weight: bold;
}
.plats-container ._article-sous {
  display: flex;
  justify-content: space-between;
  height: 19px;
  font-size: 15px;
}
.plats-container strong {
  height: 18px;
}
@media screen and (min-width: 1024px) {
  .plats-container ._entrees-titre {
    width: 93%;
  }
}

.bouton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._bouton-menu {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  margin-top: 40px;
}

._bouton-text {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

._bouton-text:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 1024px) {
  .bouton-container {
    position: relative;
    top: -152px;
  }
}
@media screen and (min-width: 1024px) {
  ._footer-restaurants {
    margin: -163px 0 0 0;
  }
}/*# sourceMappingURL=styles.css.map */